@using Lazeez.Resource.ControlPanel
@using Lazeez.Resource.Shared
@{
    ViewBag.Title = @RestaurantMeal.RestaurantMeals;
}

<form class="form-horizontal">
    <h2>@Resources.Res_Search</h2>
    <h4>@RestaurantMeal.RestaurantMeals</h4>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <div>
                <div class="form-group">
                    <label class="col-md-2 control-label">@RestaurantMeal.RestaurantName</label>
                    <div class="col-md-10">
                        <input id="txt_RestaurantId" type="hidden" value="@ViewBag.RestaurantID">
                        <input id="txt_RestaurantName" type="text" class="form-control" disabled="disabled" value="@ViewBag.RestaurantName" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">@RestaurantMeal.Name</label>
                    <div class="col-md-10">
                        <input id="txt_Name" type="text" class="form-control" placeholder="@RestaurantMeal.Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">@RestaurantMeal.RestaurantMenu</label>
                    <div class="col-md-4">
                        @Html.DropDownList("ListRestaurantMenu", null, new { @id = "ddl_RestaurantMenu", @class = "form-control" })
                    </div>
                    <label class="col-md-2 control-label">@RestaurantMeal.MealException</label>
                    <div class="col-md-4">
                        @Html.DropDownList("ListRestaurantMealExceptionNames", null, new { @id = "ddl_RestaurantMealExceptionNames", @class = "form-control" })
                    </div>
                </div>

            </div>
            <hr />
            <div>
                @Html.Partial("Buttons/_Search")
                @Html.Partial("Buttons/_Cancel")
                @Html.Partial("Buttons/_Add")
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-lg-12">
        <table id="grid" class="table table-striped table-hover table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>@RestaurantMeal.ID</th>
                    <th>@RestaurantMeal.Name</th>
                    <th>@RestaurantMeal.RestaurantMenu</th>
                    <th>@RestaurantMeal.Cost</th>
                    <th>@RestaurantMeal.Calories</th>
                    <th>@RestaurantMeal.NumberOfPersons</th>
                    <th>@RestaurantMeal.Temperature</th>
                    <th>@RestaurantMeal.TimeOfMeal</th>
                    <th width="16px"></th>
                    <th width="16px"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{

    <script src="~/Areas/ControlPanel/Scripts/RestaurantMeal/Index.js"></script>
    <script>
        var links = {
            addEdit: '@Url.Action("AddEdit", "RestaurantMeal")',
            delete: '@Url.Action("Delete", "RestaurantMeal")',
            search: '@Url.Action("Search", "RestaurantMeal")'
        };
        var tooltip = {
            edit: '@Resources.Res_Edit',
            delete: '@Resources.Res_Delete'
        }

    </script>
}